<link rel="stylesheet" href="/css/form.css">

      <!-- sign up form -->
      <div id="form-container">
        <form action="/signUp" method="post"  id="form">
            <h1>Sign Up</h1> 
            <input type="text" name="username" id="username" required placeholder="Enter Username">
            <input type="email" name="email" id="email" placeholder="Enter Email Id">
            <input type="password" name="password" id="password" placeholder="Enter Password">
            <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password">
            <input type="submit" class="g-recaptcha" data-sitekey="<%= captchasecret %>" data-callback="onSubmit" value="Submit">
        </form>

        <div>
            Already have an account? <a href="/signInPage" style="color: rgb(212, 0, 255);">Sign In</a>
        </div>   
      </div>




<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script>
  function onSubmit(token) {
    document.getElementById("form").submit();
  }
</script>